ipykernel
riotwatcher
requests
aiohttp
httpx
pandas
polars
pydantic
scikit-learn
scipy
matplotlib
seaborn
sqlalchemy
psycopg2
pangres
apache-airflow
duckdb
pyarrow
playwright
seleniumbase
requests-futures
